In [6]:
import pandas as pd
import numpy as np
from Bio import SeqIO

In [18]:
# construct badlist
amp_fasta = "../datasets/thesis/trainingset2/benchmark_set/920_920/AMPs.fasta"
non_amp_fasta = "../datasets//thesis/trainingset2/benchmark_set/920_920/NonAMPs.fasta"

In [19]:
with open(amp_fasta) as fasta_file:  # Will close handle cleanly
    identifiers = []
    lengths = []
    sequence = []
    for seq_record in SeqIO.parse(fasta_file, 'fasta'):  # (generator)
        identifiers.append(seq_record.id)
        sequence.append(str(seq_record.seq))
        lengths.append(len(seq_record.seq))

AMPs_df = pd.DataFrame(list(zip(identifiers, sequence, lengths)), columns =['ID', 'Sequence', 'length']) 
AMPs_df

          ID                                           Sequence  length
0    AP00002                 YVPLPNVPQPGRRPFPTFPGQGPFNPKIKWPQGY      34
1    AP00007                                 GNNRPVYIPQPRPPHPRL      18
2    AP00009        RFRPPIRRPPIRPPFYPPFRPPIRPPIFPPIRPPFRPPLGPFP      43
3    AP00010  RRIRPRPPRLPRPRPRPLPFPRPGPRPIPRPLPFPRPGPRPIPRPL...      60
4    AP00011              WNPFKELERAGQRVRDAVISAAPAVATVGQAAAIARG      37
..       ...                                                ...     ...
915  AP01067                      GLVPCGETCFTGKCYTPGCSCSYPICKKN      29
916  AP01068                     GLPCGETTCFTGKCYTPGCSCSYPICKKIN      30
917  AP01464  VNPSYRLDPESRPQCEAHCGQLGMRLGAIVIMGTATGCVCEPKEAA...      51
918  AP01699                           GRGREFMSNLKEKLSGVKEKMKNS      24
919  AP01700                          VKLIQIRIWIQYVTVLQMFSMKTKQ      25

[920 rows x 3 columns]

In [20]:
AMPs_df.length.describe()

count    920.000000
mean      29.715217
std       11.860331
min        5.000000
25%       21.000000
50%       28.000000
75%       37.000000
max      102.000000
Name: length, dtype: float64

In [21]:
with open(non_amp_fasta) as fasta_file:  # Will close handle cleanly
    identifiers = []
    lengths = []
    sequence = []
    for seq_record in SeqIO.parse(fasta_file, 'fasta'):  # (generator)
        identifiers.append(seq_record.id)
        sequence.append(str(seq_record.seq))
        lengths.append(len(seq_record.seq))

NonAMPs_df = pd.DataFrame(list(zip(identifiers, sequence, lengths)), columns =['ID', 'Sequence', 'length']) 
NonAMPs_df

,ID,Sequence,length
0,Q01468,MPIAQIHILEGRSDEQKETLIREVSEAISRSLDAPLTSVRVIITEM...,63
1,D3Z9R8,MLQSFIKKVWVPMKPYYTQVYQEIWVGVGLMSLIVYKIRSADKRSK...,60
2,Q89GR1,MHNTAINVQNRVLSVVRSVLQQNAISADVHPESRLVDIGLSSMGMV...,89
3,P39758,MKSIGVVRKVDELGRIVMPIELRRALDIAIKDSIEFFVDGDKIILK...,92
4,P0C2W9,MGNLTSTCLFSSRENTAAKINDSSTWYPQQGQHISIQTFRELNRLP...,85
...,...,...,...
1002,UniRef50_A8IVX2,LLQDKDSLMNALQASHDAHMGKIDSLEDRLVSNELRS,37
1003,UniRef50_Q45EK7,SEIAITKIIHKDLANNKFSDNAFEVSYYEEELLVRFYP,38
1004,UniRef50_P60837,LLDIHGVSDHLTIDLGEVRGLDYHTGLTFE,30
1005,UniRef50_P0CQ01,DATPQPQSNQRFGNLAFRTYNK,22
1006,UniRef50_P47707,EQKCETKNCNIEESTTKIVKAKKS,24

In [22]:
NonAMPs_df.length.describe()

count    1007.000000
mean       71.292949
std        28.764185
min         5.000000
25%        59.000000
50%        84.000000
75%        92.000000
max       100.000000
Name: length, dtype: float64

In [28]:
AMPs_df["class"] = 0
NonAMPs_df["class"] = 1

In [29]:
ready_df = pd.concat([AMPs_df,NonAMPs_df], axis=0,ignore_index=True)
ready_df

,ID,Sequence,length,class
0,AP00002,YVPLPNVPQPGRRPFPTFPGQGPFNPKIKWPQGY,34,0
1,AP00007,GNNRPVYIPQPRPPHPRL,18,0
2,AP00009,RFRPPIRRPPIRPPFYPPFRPPIRPPIFPPIRPPFRPPLGPFP,43,0
3,AP00010,RRIRPRPPRLPRPRPRPLPFPRPGPRPIPRPLPFPRPGPRPIPRPL...,60,0
4,AP00011,WNPFKELERAGQRVRDAVISAAPAVATVGQAAAIARG,37,0
...,...,...,...,...
1922,UniRef50_A8IVX2,LLQDKDSLMNALQASHDAHMGKIDSLEDRLVSNELRS,37,1
1923,UniRef50_Q45EK7,SEIAITKIIHKDLANNKFSDNAFEVSYYEEELLVRFYP,38,1
1924,UniRef50_P60837,LLDIHGVSDHLTIDLGEVRGLDYHTGLTFE,30,1
1925,UniRef50_P0CQ01,DATPQPQSNQRFGNLAFRTYNK,22,1
1926,UniRef50_P47707,EQKCETKNCNIEESTTKIVKAKKS,24,1

In [30]:
ready_df.drop_duplicates(subset=['Sequence'],inplace=True)
ready_df

,ID,Sequence,length,class
0,AP00002,YVPLPNVPQPGRRPFPTFPGQGPFNPKIKWPQGY,34,0
1,AP00007,GNNRPVYIPQPRPPHPRL,18,0
2,AP00009,RFRPPIRRPPIRPPFYPPFRPPIRPPIFPPIRPPFRPPLGPFP,43,0
3,AP00010,RRIRPRPPRLPRPRPRPLPFPRPGPRPIPRPLPFPRPGPRPIPRPL...,60,0
4,AP00011,WNPFKELERAGQRVRDAVISAAPAVATVGQAAAIARG,37,0
...,...,...,...,...
1922,UniRef50_A8IVX2,LLQDKDSLMNALQASHDAHMGKIDSLEDRLVSNELRS,37,1
1923,UniRef50_Q45EK7,SEIAITKIIHKDLANNKFSDNAFEVSYYEEELLVRFYP,38,1
1924,UniRef50_P60837,LLDIHGVSDHLTIDLGEVRGLDYHTGLTFE,30,1
1925,UniRef50_P0CQ01,DATPQPQSNQRFGNLAFRTYNK,22,1
1926,UniRef50_P47707,EQKCETKNCNIEESTTKIVKAKKS,24,1

In [32]:
print(len(ready_df[ready_df['class'] == 0]))
print(len(ready_df[ready_df['class'] == 1]))

920
920

In [33]:
ready_df.to_pickle("../datasets/thesis/trainingset2/benchmark_set/920_920/ready_df.pkl")