In [2]:
import numpy as np
import pandas as pd
import os

In [22]:
# Aggregate Result Function 
def aggregate_result(row_series, condition=None):
    freq = row_series.value_counts().to_dict()
    
    _nonAMP = 0
    _AMP = 0
    _final_return = 0
    cutoff_threshold = 3 # RMSpop, Adam , ProtCNN, AmPEP30
    #print(freq)
    if 0 in  freq.keys():
        _AMP = freq[0]

    if 1 in freq.keys():
        _nonAMP = freq[1]  

    # print("AMP " + str(_AMP))
    # print("non AMP " + str(_nonAMP))
    # condition by pass rule if two models say  nonAMP
    # if(condition == "<=30"):
    if _nonAMP >= cutoff_threshold:
        #print("Rule fire")
        return 1 # NonAMP
    
    if _AMP > _nonAMP: # AMP
        _final_return = 0
    elif _AMP < _nonAMP: # NonAMP
        _final_return = 1
    else: #eql 
        pass
    
    return _final_return

# DECockroach

In [29]:
# load result from each model 
path = "/mnt/vdb/DECockroach/cd100"
sample = "DECockroach.len15.MLResult.plk"
# RF
RF_df  = pd.read_pickle(path + "/result_2_RF/" + sample)
# XGBoost
XG_df  = pd.read_pickle(path + "/result_2_XG/" + sample)
# SVM
#SVM_df  = pd.read_pickle(path + "/result_2_SVM/" + sample)
# Custom CNN - RMSpop
cnnRMS_df  = pd.read_pickle(path + "/result_2_CNN_RMSpop/" + sample)
# Custom CNN - Adam
cnnAdam_df  = pd.read_pickle(path + "/result_2_CNN_Adam/" + sample)
# FastAI
FastAI_df  = pd.read_pickle(path + "/result_2_FastAI/" + sample)
# DNN
DNN_df  = pd.read_pickle(path + "/result_2_DNN/" + sample)
# ProtCNN
ProtCNN_df  = pd.read_pickle(path + "/result_2_ProtCNN/" + sample)
# AMpep30
ShortCNN_df  = pd.read_pickle(path + "/result_2_ShortCNN/" + sample)

In [32]:
_tmp_df = pd.merge(RF_df,XG_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class_x': 'RF', 'class_y': 'XG'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,cnnRMS_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'RMSpop'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,cnnAdam_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'Adam'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,FastAI_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'FastAI'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,DNN_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'DNN'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,ProtCNN_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'ProtCNN'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,ShortCNN_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'ShortCNN'}, axis=1) 
_tmp_df.sort_values(by=['ID'], inplace=True, ascending=True)
_tmp_df

            ID  length  RF  XG  RMSpop  Adam  FastAI  DNN  ProtCNN  ShortCNN
0            0      17   1   0       1     0       0    0        1         0
1            1      17   0   0       1     0       1    0        0         0
2            3      18   0   1       0     0       0    0        0         0
3            4      30   1   1       1     0       0    0        1         0
4            5      17   0   0       0     0       1    0        1         0
...        ...     ...  ..  ..     ...   ...     ...  ...      ...       ...
626564  894298      17   0   0       1     1       1    0        1         0
626565  894299      19   0   0       1     0       0    0        0         0
626566  894303      17   1   1       0     1       1    0        1         1
626567  894304      17   1   1       0     1       0    0        1         0
626568  894305      28   0   0       0     0       0    0        0         0

[626569 rows x 10 columns]

In [33]:
final_df = pd.DataFrame()
final_df["ID"] =_tmp_df["ID"]
final_df["length"] =_tmp_df["length"]
_tmp_df.drop(columns=['ID','length'],inplace =True)
final_df["class"] = _tmp_df.apply(lambda row: aggregate_result(row) , axis = 1)
final_df

            ID  length  class
0            0      17      1
1            1      17      0
2            3      18      0
3            4      30      1
4            5      17      0
...        ...     ...    ...
626564  894298      17      1
626565  894299      19      0
626566  894303      17      1
626567  894304      17      1
626568  894305      28      0

[626569 rows x 3 columns]

In [35]:
path = "/mnt/vdb/DECockroach/cd100/result_2_Ensemble"
if not os.path.exists(path):
    os.makedirs(path)
final_df.to_pickle(path+"/DECockroach.len15.MLResult.plk")

# BAT

In [37]:
path = "/mnt/vdb/Bat/cd100"
sample = "Bat.len10.MLResult.plk"
# RF
RF_df  = pd.read_pickle(path + "/result_2_RF/" + sample)
# XGBoost
XG_df  = pd.read_pickle(path + "/result_2_XG/" + sample)
# SVM
#SVM_df  = pd.read_pickle(path + "/result_2_SVM/" + sample)
# Custom CNN - RMSpop
cnnRMS_df  = pd.read_pickle(path + "/result_2_CNN_RMSpop/" + sample)
# Custom CNN - Adam
cnnAdam_df  = pd.read_pickle(path + "/result_2_CNN_Adam/" + sample)
# FastAI
FastAI_df  = pd.read_pickle(path + "/result_2_FastAI/" + sample)
# DNN
DNN_df  = pd.read_pickle(path + "/result_2_DNN/" + sample)
# ProtCNN
ProtCNN_df  = pd.read_pickle(path + "/result_2_ProtCNN/" + sample)
# AMpep30
ShortCNN_df  = pd.read_pickle(path + "/result_2_ShortCNN/" + sample)

In [38]:
_tmp_df = pd.merge(RF_df,XG_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class_x': 'RF', 'class_y': 'XG'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,cnnRMS_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'RMSpop'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,cnnAdam_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'Adam'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,FastAI_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'FastAI'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,DNN_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'DNN'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,ProtCNN_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'ProtCNN'}, axis=1) 
_tmp_df = pd.merge(_tmp_df,ShortCNN_df[['ID', 'class']],on='ID')
_tmp_df = _tmp_df.rename({'class': 'ShortCNN'}, axis=1) 
_tmp_df.sort_values(by=['ID'], inplace=True, ascending=True)
_tmp_df

              ID  length  RF  XG  RMSpop  Adam  FastAI  DNN  ProtCNN  ShortCNN
0              9     275   1   1       1     1       1    1        1         1
1             19      47   1   1       1     1       0    0        0         1
2             32     151   0   1       0     1       1    0        1         1
3             54     199   1   1       1     1       1    1        1         0
4             61     152   1   1       1     0       1    1        1         1
...          ...     ...  ..  ..     ...   ...     ...  ...      ...       ...
422791  12568817      51   0   1       1     1       1    1        1         1
422792  12568833      45   1   0       1     1       1    0        0         1
422793  12568849     117   1   1       1     1       0    1        1         1
422794  12568850     174   1   0       1     1       1    1        1         1
422795  12568985     229   1   0       1     0       1    1        1         0

[422796 rows x 10 columns]

In [39]:
final_df = pd.DataFrame()
final_df["ID"] =_tmp_df["ID"]
final_df["length"] =_tmp_df["length"]
_tmp_df.drop(columns=['ID','length'],inplace =True)
final_df["class"] = _tmp_df.apply(lambda row: aggregate_result(row) , axis = 1)
final_df

              ID  length  class
0              9     275      1
1             19      47      1
2             32     151      1
3             54     199      1
4             61     152      1
...          ...     ...    ...
422791  12568817      51      1
422792  12568833      45      1
422793  12568849     117      1
422794  12568850     174      1
422795  12568985     229      1

[422796 rows x 3 columns]

In [40]:
path = "/mnt/vdb/Bat/cd100/result_2_Ensemble"
if not os.path.exists(path):
    os.makedirs(path)
final_df.to_pickle(path+"/Bat.len10.MLResult.plk")